body{
    background-color: #6935D4
}
input{
    text-align: center;
}

.bg{
    background-color: #fff; 
    width: 97%; 
    height: 85vh; 
    transform: translateY(2%); 
    margin:0 auto;
}

img{
    display: inline;
    width: 13%;
    margin-left: 2%;
}

.topLinks{
    color: white;
    font-family: Inter;
    text-decoration: none;
}