body{
    background-color: #6935D4
}
input{
    text-align: center;
    font-family: Intra;
}

.bg{
    background-color: #fff; 
    width: 97%; 
    height: 85vh; 
    transform: translateY(2%); 
    margin:0 auto;
}

img{
    display: inline;
    width: 13%;
    margin-left: 2%;
}

.topLinks{
    color: white;
    font-family: Inter;
    text-decoration: none;
}

#rectangle{
    width:80%;
    height:60%;
    border: 1px solid #ababab;
    transform: translate(20%, -44%);
    border-radius: 25px;
}

.wrapper{

    border: 1px solid #ababab;
    position: relative;
    border-radius: 10px;

}

.label{
    position: absolute;
    bottom: 90%;
    z-index: 1;
    left: 5%;
    background-color: white;
    padding: 0px;
    width: auto;
    font-size: 12px;
    font-family: Intra;
    color: #8d8b8b;
}

#select{
    border: none;
    border-radius: 6px;
    position: relative;
    width: 90%;
    margin: 10px;
    line-height: 6ex;
    font-family: Intra;
    color: #8d8b8b;
}

.formButton{
    background-color: #6935D4;
    color: white;
    font-family: Intra;
    border-radius: 10px;
    width:150%;
    height:200%;
}